<html>
    <head>
        <title>Student Dashboard</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename='styles.css')}}">
    </head>

    <body>
        <h1>Welcome, student {{student_id}} !</h1>
        <div>
            <a href="{{url_for('student_login', year = year, term = term)}}" class = "backlink">Back to Login</a>
        </div>


        <h2>Select a year-term: </h2>
        <form method = "GET" action = "{{url_for('student_dashboard')}}">
            <label for = "year_terms">Term:</label>
            <select name = "year_terms" id = "year_terms">
                {% for year, terms_list in year_terms.items() %}
                    {% for term in terms_list %}
                    <option value = "{{year}},{{term}}">{{year}} {{term}}</option>
                    {% endfor %}
                {% endfor %}
            </select>
            <button type = "submit">Submit</button>
        </form>

        <h3>Term Ranges:</h3>
        <ul>
            <li><strong>Spring:</strong> Jan 1 - May 24</li>
            <li><strong>Summer:</strong> May 25 - Aug 15</li>
            <li><strong>Fall:</strong> Aug 16 - Dec 31</li>
        </ul>
    </body>
</html>
