<html>
<head>
    <title>Admin Manage Timeslot</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <h1>Welcome, admin {{admin_id}} !</h1>
    <h1>Admin Management - Year: {{year}} Term: {{term}}</h1>

    
    <div>
        <a href="{{url_for('admin_manage', year = year, term = term)}}">Back to Admin Dashboard</a>
    </div>

    <div class = "container">

        {% if time_error_message %}
            <div style="color: red; margin-top: 20px;">
                <strong>{{time_error_message}}</strong>
            </div>
        {% elif time_message %}
            <div style="color: green; margin-top: 20px;">
                <strong>{{time_message}}</strong>
            </div>
        {% endif %} 
        </div>


        <div class = "card">
            <div class = "card-header">
                <h2 style="margin-top: 20px;">Timeslots Management</h2>
            </div>
            <div class = "card-body">
                <h3 style = "color: rgb(51, 0, 255); margin-top: 20px;" >Timeslots</h3>
                <form method = "POST" action="{{url_for('admin_manage_timeslot', year = year, term = term)}}">
                    <table class = "table">
                        <thead>
                            <tr>
                                <th>TimeSlot ID (tid)</th>
                                <th>Day of the Week</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for (tid, day), info in timeslots.items() %}
                            <tr>
                                <td>{{tid}}</td>
                                <td>{{day}}</td>
                                <td>
                                    <input type = "time" name = "start_time_{{tid}}_{{day}}" value="{{info['start_time']}}"></td>
                                <td>
                                    <input type = "time" name= "end_time_{{tid}}_{{day}}" value="{{info['end_time']}}"></td>
                                <td>
                                    <button class = "update_btn" name = "update_{{tid}}_{{day}}" value="{{(tid, cid)}}">Update</button>
                                    <button class = "delete_btn" name = "delete_{{tid}}_{{day}}" value="{{(tid, cid)}}">Delete</button>
                                </td>   
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                
                <hr>
                
                <h3 style = "color: rgb(51, 0, 255); margin-top: 20px;" >Create New TimeSlot</h3>
                <form method = "POST" action="{{url_for('admin_manage_timeslot', year = year, term = term)}}">
                    <input type = "number" placeholder = "1" name = "new_tid" required>
                    <select name = "new_day" required>
                        <option value = "">Select Day</option>
                        <option value = "Monday">Monday</option>
                        <option value = "Tuesday">Tuesday</option>
                        <option value = "Wednesday">Wednesday</option>
                        <option value = "Thursday">Thursday</option>
                        <option value = "Friday">Friday</option>
                        <option value = "Saturday">Saturday</option>
                        <option value = "Sunday">Sunday</option>
                    </select>
                    <input type = "time" name = "new_start_time" required>
                    <input type = "time" name = "new_end_time" required>
                    <button type = "submit" name = "add_timeslot" value = "add_timeslot">Add TimeSlot</button>
                </form>
            </div>

        


    </div>

    
        
</body>
</html>
